body{
  font-family: sans-serif;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
}
#title{
  text-decoration: none;
  position: relative;
  margin-top: 70px;
  margin-left: 120px;
  margin-right: 120px;
  padding-left: 40px;
  display: block;
  letter-spacing: -1px;
  font-weight: 800;
  font-size: 40px;
  color: #343945;
}
#menu{
  display: inline-block;
  margin-top: 40px;
  font-size: 22px;
}
#list{
  margin-left: 120px;
  margin-right: 120px;
  text-decoration: none;
  list-style: none;
}
#list li{
  display: inline-block;
  width:100px;
  height:24px;
  text-align: left;
}
#list li a{
  text-decoration: none;
  color: #343945;
}
#inforDiv{
  margin-left: -40px;
  width: 500px;
  display: inline-block;
  float: left;
}
#tool{
  width: 500px;
  margin-left: -40px;
  display: inline-block;
  float: left;
}
#information{
  list-style: none;
}
.info{
  font-weight: bold;
}
#aboutMe{
  border-top: 1px solid #000;
  padding-top: 40px;
  display: inline-block;
  margin-bottom: auto;
}
#contents {
  display: block;
  padding-top: 22px;
	width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#gifBg{
  display: block;
  height: 480px;
  width: 1000px;
  background-color: #3300CC;
  margin-bottom: 20px;
}
#contents img{
  display: block;
	width: 1000px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.imgShadow {
  box-shadow: 0px 0px 3px #cccccc;
}
#article{
  font-size: 16px;
  display: block;
  line-height: 24px;
  margin-top: 80px;
  position: relative;
  margin-left: 160px;
  margin-right: 160px;
}
#menu a:hover {
 color: #70798D;
 text-decoration: none;
}
#email{
  color: #000000;
  text-decoration: none;
}
#top{
  width: 50px;
  line-height: 40px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  display: scroll;
  position: fixed;
  z-index: 9999;
  bottom: 80px;
  right: 80px;
  text-decoration: none;
}
